/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filter-container {
        flex-direction: column;
        height: 6rem;
        gap: 1rem;
        text-align: left;
        flex-wrap: wrap;
        align-items: flex-start;
        height: auto;
    }

    .filter-title, .filter-list {
        width: 80%;
        max-width: 40rem;
    }

    .filter-list li {
        font-size: clamp(0.8rem, 1.6vw, 1rem);
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        order: 2;
    }

    .populaires {
        width: 100%;
        order: 1;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    body {
        max-width: 100%;
    }

    .main-container {
        padding: 0;
    }

    section,
    .hebergements-and-populaires,
    .activites {
        max-width: 100%;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .hebergements {
        background-color: white;
    }

    nav {
        margin-top: 1.25rem;
        flex-direction: column;
        padding: 0;
    }

    nav ul {
        width: 100%;
        padding-left: 0;
        justify-content: space-around;
    }

    nav li {
        display: flex;
        padding-top: 1.5625rem;
        padding-bottom: 1.25rem;
        width: 100%;
        border: none;
        border-bottom: solid 0.125rem var(--main-bg-color);
        justify-content: center;
    }

    nav li:has(a.active),
    nav li:has(a:hover) {
        border-bottom-color: var(--main-color);
        color: var(--main-color);
        transition: all 0.5s ease-out;
    }

    header {
        height: 31.25rem;
        align-items: center;
        max-width: 90%;
        margin: auto;
    }

    .search-bar {
        justify-content: center;
    }

    .search-input {
        width: 75%;
        max-width: 100%;
    }

    .search-cta {
        display: none;
    }

    .search-cta-mobile {
        display: block;
        margin-left: -2rem;
    }

    .filter-container {   
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        gap: 1rem;
        width: 100%;
    }

    .filter-title {
        text-align: left;
        margin-top: 1.25rem;
    }


    .filter-list {
        display: grid;
        width: 100%;
        gap: 0.625rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        padding: 0;
    }
    
    .filter-list li {
        font-size: clamp(0.8rem, 4vw, 1rem);
    }

    .activites section {
        width: 100%;
        padding: 1.875rem;
        border-radius: 0;
    }

    .activites a {
        width: 100%;
        height: 12.5rem;
    }

    .activites img {
        width: 100%;
        height: 70%;
        border-radius: 1.25rem 1.25rem 0 0;
    }

    .information {
        margin-top: 3.75rem;
        height: 3.125rem;
    }

    .hebergements-cards {
        grid-template-columns: 1fr;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .activites-cards {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        justify-content: center;
    }

    .footer-column {
        flex: 1 1 8.125rem;
    }
}

@media (max-width: 318px) {
    .filter-list li {
        font-size: clamp(0.4rem, 3.1vw, 1rem);
    }
}