* {
  margin: 0;
  overscroll-behavior: none;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}